{% extends 'base.html.twig' %}

{% block title %}Accueil — To Do & Co{% endblock %}

{% block hero %}
    <section class="position-relative">
    <div class="w-100"
        style="
            background-image: url('{{ asset('img/todolist_homepage.jpg') }}');
            background-size: cover;
            background-position: center;
            min-height: 100vh;
        ">
        <div class="bg-dark bg-opacity-50 d-flex justify-content-center align-items-center"
            style="min-height: inherit;">
        <div class="container text-center text-white">
            {% block header_title %}
            <h1 class="display-6 fw-semibold mb-3">
                Bienvenue sur ToDo & Co, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !
            </h1>
            {% endblock %}
        </div>
        </div>
    </div>
    </section>
{% endblock %}

{% block body %}{% endblock %}
